body,
html {
  min-height: 100% !important;
  width: 100% !important;
}

.logo {
  font-family: "Merriweather", serif;
}

.jumbotron-title {
  font-family: "Merriweather", serif;
}

.jumbotron-image {
  width: 80% !important;
  border-radius: 90%;
}

.social-links {
  padding: 0 5px;
}

.icon {
  font-size: 50px;
  margin: 0 10px;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github {
  color: black;
}
